* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 75%;
  margin: 0 auto;
}

#container,
.card {
  border: 1px solid black; /*DA TOGLIERE*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#container {
  height: 100vh;
}

h2 {
  font-size: xx-large;
}

img {
  width: 200px;
  height: 200px;
}

.card {
  width: 24vw;
  min-height: 75%;
  max-height: 100%;

  flex-direction: column;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;

  background-image: linear-gradient(#036acb, #ad93bc, #ad93bc);
  border-radius: 25px;
}

p {
  width: 90%;
}

.names {
  color: #9dff92;
}

@media (max-width: 768px) {
  #container {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    width: 36vw;
  }
}

@media (max-width: 375px) {
  #container {
    background-color: blue;
  }
}